@font-face {
  font-family: 'M PLUS 1p';
  src: url(../font/MPLUS1p-Thin.ttf);
  font-style: normal;
  font-display: fallback;
} 
* {
color : white;
font-family : 'M PLUS 1p', sans-serif;
line-height : 1.2em;
}
body {
background : rgb(28, 39, 54);
}
header {
margin : 20px;
padding : 10px;
}
a {
text-decoration : ;
}
h1 {
font-size : 4.2em;
}
.logo {
margin-left : 28px;
margin-top : 10px;
width : 20%;
}
.head {
object-position : center;
}
.head_pic {
position : relative;
width : 95%;
}
.lights {
margin-top : -100px;
}
.table {
margin-top : -90px;
text-align : right;
}
.line {
background-color : rgb(255, 167, 0);
background-size : contain;
}
.main_text {
position : relative;
}
.text {
color : orange;
}
.rotatable {
transform : rotate(90deg);
}
.footer{
	width:1000px;
}